// Licensed as Apache License 2.0 by Cubic Creative Company Limited

/* !--- Normalize --- */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}#yui3-css-stamp.cssnormalize{display:none}


/* !--- Variables --- */

$rnr-page-height: 600px;
$rnr-min-width: 940px;

$rnr-responsive-max-width: 1024px;

/* !--- Elements --- */

.rnr {
	position: relative;
	width: 100%; min-width: $rnr-min-width;
	background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
	overflow: hidden; z-index: 1;
}

.rnr.rnr-page { height: 100vh; min-height: $rnr-page-height; }
.rnr.rnr-page-half { height: 50vh; min-height: $rnr-page-height / 2; }
.rnr.rnr-page-double { height: 200vh; min-height: $rnr-page-height * 2; }
.rnr.rnr-page-triple { height: 300vh; min-height: $rnr-page-height * 3; }
.rnr.rnr-page-freesize { height: auto; min-height: auto; }

.rnr.rnr-remove.rnr-removed { visibility: hidden; pointer-events: none; }

.rnr-bg, .rnr-bg-fixed {
	background-size: cover; background-position: 50% 50%;
	overflow: hidden; z-index: 1;
}

.rnr-bg {
    position: absolute;
	top: -100px; bottom: -100px;
	left: -30px; right: -30px;
}

.rnr-bg-fixed {
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
}

.rnr-bg.rnr-scroll {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}

.rnr-bg video, .rnr-bg-fixed video {
	position: absolute; top: 50%; left: 50%;
	width: 100%; height: auto;
	min-width: 100%; min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rnr-vert .rnr-bg video, .rnr-vert .rnr-bg-fixed video {
	width: auto; height: 100%;
}

.rnr-content {
	position: relative; margin: 0 auto;
	width: $rnr-min-width; height: auto;
	overflow: visible; z-index: 2;
	font-size: 0;
}

.rnr-content.rnr-freesize {
	width: auto; height: auto;
}

.rnr-fixed {
	position: fixed; top: 50%; left: 50%;
	width: $rnr-min-width; height: 100px;
	margin-left: $rnr-min-width / -2; margin-top: -50px;
	z-index: 2;
}

.rnr-snapin-to .rnr-snapin {
	position: absolute !important; top: 0 !important; left: 0 !important;
	margin-top: 0 !important; margin-left: 0 !important;
	height: 100% !important; width: 100% !important;
}

@media screen and (max-width: $rnr-responsive-max-width) {
	.rnr-content {
		width: 100%; height: auto;
	}
}


/* !--- Positioning --- */

.rnr-vertcenter { position: absolute; top: 50%; }
.rnr-horzcenter { position: absolute; left: 50%; }